.container {
    background-color: #2774AE;
    min-height: 100vh;
    color: white;
    max-width: 1435px;
    /* margin: 0; */
    width: 100%;
    margin: auto;
    
  }

.topRectangle {
    /* Rectangle 2 */
position: relative;
/* width: 1920px; or 1435 */
width: 100%;
height: 86px;
left: 0px;
top: 0px;

background: #2774AE;

}


.middleRectangle {

/* Rectangle 1 */

position: relative;
width: 100%;
height: 86px;
left: 0px;
top: 90px;

background: #FFFFFF;

}


.middleText {

/* BruinMatch */

font-family: 'Ubuntu';
font-style: bold;
font-weight: 700;
font-size: 70px;
line-height: 30px;
justify-content: center;
text-align: center;
letter-spacing: 0.05em;
width: 100%;

color: #2774AE;

}


.imageBanner {

    /* test123 1 */
  
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0px;
  top: 176px;
  max-width: 1445px;
}

img{ 
    max-width: 100%;
    opacity: 0.7;
}

.imageText {

    /* Main Banner */

/* position: absolute;
width: 100%;
height: 125px;
left: 186px;
top: 304px; */

font-family: 'Telex';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
padding-top: 15px;
padding-bottom: 15px;
background-color: #2774AE;

}

.points{
    /* Point 1 */

position: absolute;
/*width: 399px;
height: 70px;

*/

top: 728px; 
padding-left: 80px;
padding-top: 15px;
padding-bottom: 15px;
/* width: 100%; */
width: 1355px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
 text-align: center;
letter-spacing: 0.05em;

color: #ffffff;
background-color: #2774AE;


}

.pointsTwo{

position: absolute;

top: 728px; 
padding-left: 500px;
padding-top: 15px;
padding-bottom: 15px;
/* width: 100%; */
/* width: 1355px; */

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
 /* text-align: center; */
letter-spacing: 0.05em;

color: #ffffff;
background-color: #2774AE;


}


.loginText {

padding-top: 700px;
color: #FFFFFF;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
letter-spacing: 0.05em;
background-color: #2774AE;
z-index: 2;

}


.imageTwo {

    height: 75%;
    width: 75%;

}


.loginLast {

color: white;
position: absolute;
top: 950px;
padding-left: 950px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 20;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.05em;
padding-bottom: 2px;    

}


.backgroundGray {
    /* Rectangle 53 */

position: absolute;
width: 75%;
height: 75%;
/* left: 129px; */
top: 1045px;

background: rgba(255, 255, 255, 0.51);
/* background: rgba(233, 24, 24, 0.51); */
border-radius: 30px;
z-index: 1;
}



.button {
    border: none;
    background-color: #e7e7e7; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #2774AE;
  }
  .button:hover {
    background-color: #79a1c0;
    color: white;
  }


  .box {

    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 2px;
  }



  .circlePoint{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
}

.circlePointTwo{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    right: 100px;
    position: relative;
}