.zoom {
  zoom: 0.75;
  height: 100%;
  width: 100%;
}

.FullFrame {
  background-color: #ffffff;
  min-height: 100vh;
  top: 0px;
  height: 2900px;
}

.TopBanner {
  position: absolute;
  /* width: 1920px; */
  width: 100%;
  /* height: 4%; */
  height: 94px;
  left: 0px;
  top: 0px;
  background: #2774ae;
}

.topBannerText {
  position: absolute;
  width: 295px;
  height: 56px;
  left: 24px;
  top: 19px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.ProfilePhoto {
  position: absolute;
  width: 531px;
  height: 531px;
  border-radius: 50%;
  left: 695px;
  top: 137px;
}

.Frame2 {
  position: absolute;
  width: 1290px;
  height: 1330px;
  left: 310px;
  top: 750px;
  background-color: #efefef;
  justify-content: right;
  border-radius: 30px;
}

.MyProfile {
  position: absolute;
  width: 284px;
  height: 84px;
  left: 520px;
  top: 0px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/* Name* */

.Name {
  position: absolute;
  left: 150px;
  top: 155px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showName {
  position: absolute;
  left: 400px;
  top: 155px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Gender {
  position: absolute;
  left: 150px;
  top: 255px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showGender {
  position: absolute;
  left: 400px;
  top: 255px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Major {
  position: absolute;
  left: 150px;
  top: 355px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showMajor {
  position: absolute;
  left: 400px;
  top: 355px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/* Year* */

.Year {
  position: absolute;
  left: 150px;
  top: 455px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showYear {
  position: absolute;
  left: 400px;
  top: 455px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Phone {
  position: absolute;
  left: 150px;
  top: 555px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showPhone {
  position: absolute;
  left: 400px;
  top: 555px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Email {
  position: absolute;
  left: 150px;
  top: 655px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showEmail {
  position: absolute;
  left: 400px;
  top: 655px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Instagram {
  position: absolute;
  left: 150px;
  top: 755px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showInstagram {
  position: absolute;
  left: 400px;
  top: 755px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Discord {
  position: absolute;
  left: 150px;
  top: 855px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showDiscord {
  position: absolute;
  left: 400px;
  top: 855px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Facebook {
  position: absolute;
  left: 150px;
  top: 955px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showFacebook {
  position: absolute;
  left: 400px;
  top: 955px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.Bio {
  position: absolute;
  left: 150px;
  top: 1055px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

.showBio {
  position: absolute;
  left: 400px;
  top: 1055px;
  margin-right: 30px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*My Profile */

.UserProfile {
  position: absolute;
  width: 334px;
  height: 54px;
  left: 87px;
  top: 43px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  letter-spacing: 0.05em;

  color: #525252;
}

/* Frame 3 */

.Frame3 {
  position: absolute;
  width: 1330px;
  height: 600px;
  left: 295px;
  top: 2100px;
  background-color: rgb(255, 255, 255);
}

.Preferences {
  box-sizing: border-box;
  position: absolute;
  width: 1290px;
  height: 550px;
  left: 22px;
  top: 20px;

  background: rgba(152, 152, 152, 0.3);
  border: 4px solid #ffffff;
  border-radius: 30px;
}

.Option1 {
  position: absolute;
  left: 104px;
  top: 144px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*.showsamegender {
  position: absolute;
  left: 500px;
  top: 144px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}*/

.Option2 {
  position: absolute;
  left: 104px;
  top: 224px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*.showonthehill {
  position: absolute;
  left: 500px;
  top: 224px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}*/

.Option3 {
  position: absolute;
  left: 104px;
  top: 304px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*.showalchohol {
  position: absolute;
  left: 500px;
  top: 304px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}*/

.Option4 {
  position: absolute;
  left: 104px;
  top: 384px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*.showpets {
  position: absolute;
  left: 500px;
  top: 384px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}*/

.Option5 {
  position: absolute;
  left: 104px;
  top: 464px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}

/*.shownightowl {
  position: absolute;
  left: 500px;
  top: 464px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  text-align: left;
  letter-spacing: 0.05em;

  color: #525252;
}*/

.Switchtext {
  position: absolute;
  width: 150px;

  text-align: center;
  left: 415px;
  top: 90px;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 68px;

  letter-spacing: 0.05em;

  color: #2774ae;
}

.Switchtextno {
  position: absolute;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 68px;
  text-align: center;
  left: 557px;
  top: 90px;

  letter-spacing: 0.05em;

  color: #2774ae;
}

.Switch1 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 462px;
  top: 145px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
}

.Switch1No {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 547px;
  top: 145px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
  border-radius: 20px;
}

.Switch2 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 462px;
  top: 225px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
}

.Switch2No {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 547px;
  top: 225px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
  border-radius: 20px;
}

.Switch3 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 462px;
  top: 305px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
}

.Switch3No {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 547px;
  top: 305px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
  border-radius: 20px;
}

.Switch4 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 462px;
  top: 385px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
}

/* Rectangle 40 */

.Switch4No {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 547px;
  top: 385px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
  border-radius: 20px;
}

.Switch5 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 462px;
  top: 465px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
}

.Switch5No {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 547px;
  top: 465px;

  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #989898;
  border-radius: 20px;
}

.PreferencesText {
  position: absolute;
  left: 100px;
  top: 50px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #2774ae;
}

.Frame4 {
  position: absolute;
  width: 1303px;
  height: 1321px;
  left: 310px;
  top: 852px;
  background-color: #efefef;
}

.Group2 {
  position: absolute;
  width: 293px;
  height: 90px;
  left: 1597px;
  top: 2810px;
}

/* Rectangle 4 */

.EditButton {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 70px;
  left: 1197px;
  top: 1950px;

  background: rgba(255, 255, 255, 0.75);
  border: 4px solid #7b7b7b;
  border-radius: 40px;
}

/* Create */

.EditText {
  position: absolute;
  width: 262.04px;
  height: 61.97px;
  left: 1195px;
  top: 1950px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #7b7b7b;
}

